<app-header></app-header>

<div class="wrapper">

  <app-sidebar-info class="sidebar"></app-sidebar-info>
  
  
  <div class="main-content">
    <button class="toggle-sidebar btn btn-outline-primary" (click)="toggle_log()">Masquer les logs</button>
    <app-foctionnalites [devices]='devices' (refresh)='Refresh()' [devicesListSelection]='devicesListSelection' [batteryLevels]='batteryLevels' [deviceNames]='deviceNames'></app-foctionnalites>
    <div class="d-flex justify-content-center" style="margin-top: 2%;">
        <div class="container">
            <button class="btn btn-outline-primary" (click)="Refresh()"><!--<mat-icon>rotate_left</mat-icon>--> Rafraîchir </button>
        </div>
    </div>
  
    <app-tablette [devices]='devices' (eventChild)='getDevicesSelection($event)' [wifiConnections]='wifiConnections' [batteryLevels]='batteryLevels' [deviceNames]='deviceNames'></app-tablette>  
  
  </div>
</div>
